dataset/
reference/
sample/
video/
test_output_encoded/
test_output_encoded_val_128/
test_output_encoded.jpg
__pycache__/
main/__pycache__/
main/saved_models/
main/saved/
decoder/eval_results/
decoder/output_frames/
decoder/results/
decoder/saved_models/
decoder/temp_frames/
decoder/video_results/
results/